

body {
    background-color:papayawhip;

}




a { 
    font-family: Arial, Helvetica, sans-serif;
    color: violet;
}

a:hover {
    color: blueviolet;
}

#Wallpapers {
    /* height: 695px;
    width: 320px;
    border: 20px solid black;
    margin: 30px; */
    display: grid;
    grid-template-columns: [first] 390px [line2] 390px [line4] 390px [line3] 390px;
}

h2 {
    height: 695px;
    width: 320px;
    border: 10px solid black;
    
}
